/* Layout */
body {
	min-width: 630px;
}

#header p{
	text-align: center;
	font-size: 40px;
}

div#intro {
	padding: 0 5em 5em 5em;
}

.fontAwesome {
	font-family: Helvetica, 'FontAwesome', sans-serif;
}

#container {
	padding-left: 200px;
	padding-right: 190px;
}

#container .column {
	position: relative;
	float: left;
}

#center {
	padding: 10px 20px;
	width: 100%;
}

.autocomplete_container {
	width: 300px;
	margin: 0 auto;
	padding: 30px 0 30px 0;
}

.autocomplete_container input{
	width: 300px;
	height: 22px;
	font-size: 22px;
}

#left {
	width: 180px;
	padding: 0 10px;
	right: 240px;
	margin-left: -100%;
}

#right {
	width: 130px;
	padding: 0 10px;
	margin-right: -100%;
}

#footer {
	clear: both;
}

/* IE hack */
* html #left {
	left: 150px;
}

/* Make the columns the same height as each other */
#container {
	overflow: hidden;
}

#container .column {
	padding-bottom: 1001em;
	margin-bottom: -1000em;
}

/* Fix for the footer */
* html body {
	overflow: hidden;
}

* html #footer-wrapper {
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 10010px;
	margin-bottom: -10000px;
	background: #fff;
}

/* Aesthetics */
body {
	margin: 0;
	padding: 0;
	font-family:Sans-serif;
	line-height: 1.5em;
}

p {
	color: #555;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul a {
	color: darkgreen;
	text-decoration: none;
}

#header, #footer {
	font-size: large;
	padding: 0.3em;
	background: #BCCE98;
}

#left {
	background: #DAE9BC;
}

#right {
	background: #F7FDEB;
}

#center {
	background: #fff;
}

#container .column {
	padding-top: 1em;
}