dl {
	/*border: 3px double #ccc;*/
	padding: 1.5em;
}
dl > dt {
	float: left;
	clear: left;
	width: 150px;
	text-align: right;
	font-weight: bold;
	/*color: green;*/
}
dl > dt:after {
	content: ":";
}
dl > dd {
	margin: 0 0 0 170px;
	padding: 0 0 0.5em 0;
}

dl > h2 {
	padding-top: 0.4em;
	padding-bottom: 0.2em;
}

dl > dt.genusStat {
	width: 65%;
}

dl > dd.genusStat {
	margin: 0 0 0 70% !important;
}