body,div,h1{
	font-family:'trebuchet ms', verdana, arial;
	margin:0;
	padding:0;
}

body{
	background-color:#fff;
	color:#333;font-size:small;
	margin:0;
	padding:0;
}

h1{
	font-size:large;
	font-weight:400;
	margin:0;
}

h2{
	color:#333;
	font-size:small;
	font-weight:400;
	margin:0;
}

pre{
	background-color:#eee;
	border:1px solid #ddd;
	border-left-width:5px;
	color:#333;font-size:small;
	overflow-x:auto;
	padding:15px;
}

pre.normal{background-color:transparent;border:none;border-left-width:0;overflow-x:auto;}
#external{margin: 20px;}
#logo{background:url(images/jq.png);display:block;float:right;height:31px;margin-right:10px;margin-top:10px;width:110px;}
#main{margin:0px 25px 0px 40px;padding:0 15px 15px 0;}
#content{padding:20px;}
#busy{background-color:#e95555;border:1px ridge #ccc;color:#eee;display:none;padding:3px;position:absolute;right:7px;top:7px;}
hr{height:1px;}
code{font-size:108%;font-style:normal;padding:0;}
ul{color:#333;list-style:square;}
#banner{margin:40px;margin-bottom: 0px;padding-bottom:10px;text-align:left;}
#banner *{color:#232121;font-family:Georgia, Palatino, Times New Roman;font-size:30px;font-style:normal;font-weight:400;margin:0;padding:0;}
#banner h1{display:block;float:left;}
#banner h1 em{color:#6cf;}
#banner h2{float:right;font-size:26px;margin:10px 10px -10px -10px;}
#banner h3{clear:both;display:block;font-size:12px;margin-top:-20px;}
#banner a{border-top:1px solid #888;display:block;font-size:14px;margin:5px 0 0;padding:10px 0 0;text-align:right;width:auto;}
a.external{background-image:url(../img/external.png);background-position:center right;background-repeat:no-repeat;padding-right:12px;}
form{font-size:10pt;margin-bottom:20px;width:auto;}
form fieldset{padding:10px;text-align:left;width:140px;}
div#main h1{border-bottom:1px solid #CDCDCD;display:block;margin-top:20px;padding:10px 0 2px;}
p.tip em {padding: 2px; background-color: #6cf; color: #FFF;}
p.tip.update em {background-color: #FF0000;}
div.digg {float: right; margin-left: 20px;}
#skyscraper {float: right; margin-right: 0px; margin-left: 20px; background: #EEE; padding: 20px;}
#skyscraper > div { margin-bottom: 20px; }
#skyscraper.wide { float: none; overflow: hidden; margin-left: 0; text-align: center;}
#skyscraper.wide > div { display: inline-block; margin-right: 20px;  margin-bottom: 0;}